<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>room1</title>
</head>
<body>
<script type="text/javascript" src="__STATIC__/cuplayer/js/swfobject.js"></script> 
<div class="video" id="CuPlayer"> <b> <img src="__STATIC__/cuplayer/images/loading.gif" /> 网页视频播放器加载中，请稍后...</b> </div> 
<script type="text/javascript">
var so = new SWFObject("/player/player.swf","ply","980","460","9","#000000");
so.addParam("allowfullscreen","true");
so.addParam("allowscriptaccess","always");
so.addParam("wmode","opaque");
so.addParam("quality","high");
so.addParam("salign","lt");

so.addVariable("JcScpServer","rtmp://www.vmliveroom.io/myapp"); //您的rtmp流媒体服务器地址 
so.addVariable("JcScpVideoPath","abc"); //流名称
so.addVariable("JcScpImg","__STATIC__/cuplayer/images/startpic.jpg"); //视频缩略图
so.addVariable("JcScpFile","__STATIC__/cuplayer/CuSunV4set.xml"); //配置文件

so.write("CuPlayer");
</script>
</body>
</html>